.checkbox input{
    display:none;
}
.checkbox.secondary:first-child .checkmark{
    border-radius: 5px 0 0 5px;
}
.checkbox.secondary:last-child .checkmark{
    border-radius: 0 5px 5px 0;
}
.checkbox.secondary input:checked ~ .checkmark{
    background:var(--primary);
}
.checkbox.secondary .checkmark{
    /* width:100%; */
    min-width:120px;
    padding:16px;
    color:var(--white);
    background:var(--secondary);
    text-align:center;
    font-weight:bold;
    text-transform: uppercase;
    cursor:pointer;
    user-select: none;
}

.checkbox.primary .checkmark{
    /* width:100%; */
    min-width:120px;
    padding:16px;
    font-weight:bold;
    color:var(--secondary);
    text-transform: uppercase;
    cursor:pointer;
    user-select: none;
    position:relative;
    padding-left:32px;
}
.checkbox.primary .checkmark:before{
    content:"";
    position:absolute;
    left:0px;
    background:var(--gray);
    border-radius:100%;
    width:16px;
    height:16px;
}

.checkbox.primary input:checked ~ .checkmark:before{
    background:var(--primary);
}

input[type="text"], input[type="email"], input[type="password"], textarea{
    background:#e7e7e7;
    border-radius:25px;
    padding:6px 12px;
    color: var(--secondary);
    border: none;
    outline:none;
    box-shadow:0px 0px 15px -5px rgb(202 202 202);
}
label[for]{
    color: var(--secondary);
    display:block;
}
input[type="text"]:focus-visible, input[type="email"]:focus-visible, input[type="password"]:focus-visible, textarea:focus-visible{
    border:none!important;
}

.answers, .answers-pf, .corr-answer{
    display: none;
    /*border: 1px solid #c4c4c4;*/
    /*padding: 20px 0;*/
}

.answers.active, .answers-pf.active, .corr-answer.active{
    display: block;
}


